.banner {
    background-color: $light-pink;

    h6 {
        color: $red;
    }

    h1 {
        font-weight: 800;
    }

    .left {
        align-self: center;
    }

    .read-more {
        background-color: $dark;
        color: $white;
        padding: 10px 15px;
        border-radius: 10px;
        text-decoration: none;
        margin-right: 20px;
    }

    .watch-video {
        text-decoration: none;
        color: $dark;

        i {
            border: 1px solid $red;
            border-radius: 100%;
            color: red;
            line-height: 36px;
            height: 36px;
            width: 36px;
            display: inline-block;
            text-align: center;
            margin-right: 10px;
        }
    }

    .banner-card {
        padding: 25px;
        background-color: $white;
        box-shadow: 0 0 10px rgba($dark, 0.3);

        &:hover {
            background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('../images/banner-card-bg.jpg');

            a {
                color: $red;
                background-color: $white;
            }

            p {
                color: $white;
            }
        }

        a {
            background-color: $red;
            color: $white;
            padding: 10px 15px;
            text-decoration: none;
            display: inline !important;
        }

        p {
            margin-top: 40px;
            font-weight: 800;
        }
    }
}