header {
    background-color: $light-pink;

    .container {
        .logo-container {
                align-self: center;
        }
        .navbar-light .navbar-nav .nav-link {

            color: $dark ;

                padding: 10px 15px;
            &.read-more {
                background-color: $red;
                color: $white;
                border-radius: 10px;
            }
        }

    }

    
}


header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    -webkit-animation: smoothScroll 1s forwards;
            animation: smoothScroll 1s forwards;
  }
  @-webkit-keyframes smoothScroll {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes smoothScroll {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }