
$light-pink: #fff8f8;
$dark: #182c44;
$red: #ec1111;
$light-grey: #fff8f8;
$white: #ffffff;
$dark-blue: #162035;
$light-blue: #edf3fb;
$darker-blue: #15083e;


.bg-light-pink{
    background-color: $light-pink;
}

.bg-dark{
    background-color: $dark;
}

.bg-red{
    background-color: $red;
}

.light-grey{
    background-color: $light-grey;
}

.bg-white{
    background-color: $white;
}

.dark-blue{
    background-color: $dark-blue;
}

.light-blue{
    background-color: $light-blue;
}

.darker-blue{
    background-color: $darker-blue;
}